domain ip {
    table nat {
        chain DOCKER {
            interface docker0 RETURN;
        }

        chain PREROUTING {
            mod addrtype dst-type LOCAL jump DOCKER;
        }

        chain POSTROUTING {
            saddr {{ docker_ipv4_bip }} outerface !docker0 MASQUERADE;
        }

        chain OUTPUT {
            destination !127.0.0.0/8 {
                mod addrtype dst-type LOCAL jump DOCKER;
            }
        }
    }
}

domain (ip ip6) table filter {
    table filter {
        chain DOCKER {
        }

        chain DOCKER-USER {
            RETURN;
        }

        chain DOCKER-ISOLATION-STAGE-1 {
            interface docker0 outerface !docker0 jump DOCKER-ISOLATION-STAGE-2;
            RETURN;
        }

        chain DOCKER-ISOLATION-STAGE-2 {
            outerface docker0 DROP;
            RETURN;
        }

        chain FORWARD {
            jump DOCKER-USER;
            jump DOCKER-ISOLATION-STAGE-1;
            outerface docker0 mod state state (ESTABLISHED RELATED) ACCEPT;
            outerface docker0 jump DOCKER;
            interface docker0 outerface !docker0 ACCEPT;
            interface docker0 outerface docker0 ACCEPT;
        }
    }
}

