domain ({{ docker_ipv6_enabled | ternary('ip ip6', 'ip') }}) table filter {
  chain INPUT {
        daddr $DUMMY0_V4_CIDR saddr $DOCKER_V4_CIDR proto (udp tcp) dport 53 ACCEPT;

        {% if docker_ipv6_enabled %}
        daddr $DUMMY0_V6_CIDR saddr $DOCKER_V6_CIDR proto (udp tcp) dport 53 ACCEPT;
        {% endif %}
  }
}

domain ip {
    table nat {
        chain PREROUTING {
            mod addrtype dst-type LOCAL jump DOCKER;
        }

        chain POSTROUTING {
            saddr $DOCKER_V4_CIDR outerface $DEFAULT_V4_DEV MASQUERADE;
        }
    }
}

domain ({{ docker_ipv6_enabled | ternary('ip ip6', 'ip') }}) {
    table filter {
        chain (DOCKER DOCKER-INGRESS DOCKER-ISOLATION-STAGE-1 DOCKER-ISOLATION-STAGE-2) @preserve;
    }

    table nat {
        chain (DOCKER DOCKER-INGRESS) @preserve;
    }
}

domain ip table filter {
    chain DOCKER-USER {
        interface $DOCKER_DEV outerface $DOCKER_DEV RETURN;
        outerface $DOCKER_DEV interface $DOCKER_DEV RETURN;

        saddr $DOCKER_V4_CIDR interface $DOCKER_DEV outerface $DEFAULT_V4_DEV RETURN;
        daddr $DOCKER_V4_CIDR outerface $DOCKER_DEV interface $DEFAULT_V4_DEV RETURN;

        interface $DOCKER_DEV DROP;
        outerface $DOCKER_DEV DROP;

        RETURN;
    }
}

{% if docker_ipv6_enabled %}
domain ip6 table filter {
    chain DOCKER-USER {
        interface $DOCKER_DEV outerface $DOCKER_DEV RETURN;
        outerface $DOCKER_DEV interface $DOCKER_DEV RETURN;

        saddr $DOCKER_V6_CIDR interface $DOCKER_DEV outerface $DEFAULT_V6_DEV RETURN;
        daddr $DOCKER_V6_CIDR outerface $DOCKER_DEV interface $DEFAULT_V6_DEV RETURN;

        interface $DOCKER_DEV DROP;
        outerface $DOCKER_DEV DROP;
        RETURN;
    }
}
{% endif %}

domain ({{ docker_ipv6_enabled | ternary('ip ip6', 'ip') }}) table filter {
    chain FORWARD {
        jump DOCKER-USER;
        jump DOCKER-ISOLATION-STAGE-1;

        outerface $DOCKER_DEV mod state state (ESTABLISHED RELATED) ACCEPT;
        outerface $DOCKER_DEV jump DOCKER;

        interface $DOCKER_DEV outerface !docker0 ACCEPT;
        interface $DOCKER_DEV outerface $DOCKER_DEV {{ docker_icc_enabled | ternary('ACCEPT', 'DROP') }};
    }
}
